/* Add screen styles below */

body {
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background: #A4B0F5;
    color: #000000;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 50px;
}

.heading2 {
    text-align: center;
}

h2 {
    color:#000000;
    font-size: 36px;
    padding-top: 30px;
}

.heading3 {
    text-align: center;
}

h3 {
    color:#A4B0F5;
    font-size: 32px;
    padding-top: 30px;
}

.image {
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    gap: 10px;
}

.about {
    display: inline-block;
    inline-size: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
}

p {
    color:#000000
    font-size: 20px;
    display: inline-block;
    inline-size: 500px;
}
