/* Add screen styles below */

body {
    background: #FFFFFF;
    color: #000000;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background: #A4B0F5;
    color: #000000;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading {
    text-align: center;
}

h2 {
    color:#A4B0F5;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

p {
    color:#000000
    display: inline-block;
    inline-size: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
